.propertyhive_meta_box .branch{ border-radius:3px;background:#FFF;border:1px solid #dfdfdf; margin:9px 0;}
.propertyhive_meta_box .branch .branch-details{background:#fafafa;border:1px solid #eee;padding:6px;}
.propertyhive_meta_box .branch h3 { padding-left:10px; padding-right:10px; }
.propertyhive_meta_box .branch h3 button{float:right}
.propertyhive_meta_box .branch h3 .handlediv{ background-position:6px 0px!important;height:28px; }
.propertyhive_meta_box .branch h3 strong{line-height:28px;}