.ms-options-wrap {
    display:inline-block;
    vertical-align:middle;
    width:300px;
}

.ph-calendar-notification { position:fixed; z-index:1; text-align:center; bottom:-40px; left:0; width:100%; line-height:40px; font-size:16px; }
.ph-calendar-notification .inner { display:inline-block; background:#333; color:#FFF; padding:0 45px; white-space:nowrap; }

.ph-calendar-new-event-popup, .ph-calendar-event-details-popup { display:none; position:absolute; z-index:1; min-width:190px; padding:15px; border:1px solid #CCC; background:#FFF; }
.ph-calendar-new-event-popup h3 { margin-top:0; }
.ph-calendar-new-event-popup a.button { display:block; width:100%; margin-bottom:5px; text-align:center; }

.fc-event.translucent { opacity:0.5; }

.calendar_schedule_table td { padding: 5px; vertical-align: top; }