#mainform > ul > li > a[href*="alg_wc_checkout_files_upload&section=file"] {
	color: #61aa00;
}

.wpwham-license-status {
  border: 2px solid #999;
  border-radius: 3px;
  color: #777;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 2px 10px;
}

.wpwham-license-active,
.wpwham-license-valid {
  border-color: #60ad5d;
  color: #60ad5d;
}

.wpwham-license-invalid {
  border-color: #D41D1D;
  color: #D41D1D;
}
