body {
	background-color: #e2e2e2;
	padding: 2% 10% 10% 10%;
}

input[type="radio"], label.inline {
	display: inline;
}

label {
	font-weight: normal;
}

h1 {
	text-align: center;
}

.feedback {
	margin: 1% auto 1% auto;
}

#submit-feedback {
	text-align: center;
	width: 100%;
}

#feedback-wrapper {
	font-size:16px;
	margin-top:1%;
}